* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
}

:root {
	--sl-tooltip-padding: var(--sl-spacing-2x-small) var(--sl-spacing-2x-small) !important;
}

button {
	outline: none;
	padding: 1em;
	cursor: pointer;
	border: none;
	transition: 0.3s;
	border-radius: 0.25em;
	background-color: white;
	border: 1px solid #ebebeb;
}
button:hover {
	background-color: rgb(212, 212, 212);
}

#header {
	padding: 1em;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.rhs {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			text-decoration: none;
		}

		#info {
			border: 1px solid #ebebeb;
			display: flex;
			justify-content: center;
			align-items: center;
			i {
				margin-left: 0.5em;
			}
		}
	}

	button {
		margin-left: 0.5em;
	}
}

.requirements {
	border-bottom: 1px solid #ebebeb;
	ul {
		padding: 0 1em 1em 1em;
		list-style: inside;
	}
}

section {
	border-bottom: 1px solid #ebebeb;
	.content {
		padding: 0 1em 1em 1em;
	}
}

sl-details {
	margin: 1em;
}
sl-details::part(summary) {
	font-weight: bold;
	font-size: 1.125em;
}

.carousel-item-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	img {
		max-width: 100%;
		min-height: 0;
		margin: 1em;
	}
	p {
		text-align: center;
	}
}
.vis-view {
	margin-bottom: 1em;
	img {
		margin: 1em;
	}
}
.code-structure {
	margin: 1em 0;
	width: 100%;

	.code-section {
		margin: 1em 0;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
		grid-auto-flow: dense;
		.code-image-block {
			p {
				flex-grow: 1;
				margin-bottom: 0.5em;
			}
			img {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}

.video-container {
	display: flex;
	justify-content: center;
	align-items: center;

	iframe {
		width: 100%;
		height: 40em;
	}
}

sl-dialog::part(panel) {
	max-width: calc(100% - 5em);
	width: 100%;
}
